name: Build and Push Docker Images

on:
  push:
    branches:
      - master
      - open-release/**
jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Use the release name as the image tag if we're building an open release tag.
      # Examples: if we're building 'open-release/olive.master', tag the image as 'olive.master'.
      # Otherwise, we must be building from a push to master, so use 'latest'.
      - name: Get tag name
        id: get-tag-name
        uses: actions/github-script@v5
        with:
          script: |
            const branchName = context.ref.split('/').slice(-1)[0];
            const tagName = branchName === 'master' ? 'latest' : branchName;
            console.log('Will use tag: ' + tagName);
            return tagName;
          result-encoding: string

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_PASSWORD }}
     
      - name: Build and push Dev Docker image
        uses: docker/build-push-action@v4
        
        with:
          push: true
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          target: dev
          repository: openedx/edx-notes-api-dev
          tags: ${{ steps.get-tag-name.outputs.result }},${{ github.sha }}
          platforms: linux/amd64,linux/arm64

      # - name: Build and push prod Docker image
      #   uses: docker/build-push-action@v1
      #   with:
      #     push: true
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_PASSWORD }}
      #     target: prod
      #     repository: openedx/edx-notes-api
      #     tags: ${{ steps.get-tag-name.outputs.result }},${{ github.sha }}